.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.wrapper > img{
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid black;
}

.bth__next{
    position: absolute;
    top: 50%;
    right: 300px;
}

.bth__prev{
    position: absolute;
    top: 50%;
    left: 300px;
}

